## Imports

In [1]:
pip install sgs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sgs
  Downloading sgs-2.1.1-py3-none-any.whl (9.8 kB)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.8/dist-packages (from sgs) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.8/dist-packages (from sgs) (2.25.1)
Requirement already satisfied: html5lib>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from sgs) (1.0.1)
Collecting beautifulsoup4>=4.7.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 2.2 MB/s eta 0:00:00
Collecting retrying>=1.3.3
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.0.1->sgs) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.0.1->sgs) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->sgs) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->sgs) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->sgs) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->sgs) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->sgs) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->sgs) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.22.0->sgs) (1.24.3)
Installing collected packages: soupsieve, retrying, beautifulsoup4, sgs
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 retrying-1.3.4 sgs-2.1.1 soupsieve-2.4

In [2]:
import pandas as pd
import sgs
from datetime import date, datetime

## Datas de referência

In [3]:
today = date.today()
now = datetime.now()

start_date = '01/01/2009'
end_date = today.strftime("%d/%m/%Y")

## Definição de métricas

In [4]:
''' ****************************************************************************************************************************************************************
SELIC_CODE = 4189 # Taxa de juros - Selic acumulada no mês anualizada base 252
EXCHANGE_CODE = 3697 # Taxa de câmbio - Livre - Dólar americano (compra) - Média de período - mensal
IPCA_CODE = 13522 # Índice nacional de preços ao consumidor - amplo (IPCA) - em 12 meses
IGPM_CODE = 189 # Índice geral de preços do mercado (IGP-M)
**************************************************************************************************************************************************************** '''

reports_to_save = {
    'SELIC_CODE':{
        'CODE':4189,
        'ALIAS':'selic_rate'
    }
    ,'EXCHANGE_CODE':{
        'CODE':3697,
        'ALIAS':'exchange_rate'
    }
    ,'IPCA_CODE':{
        'CODE':13522,
        'ALIAS':'ipca_rate'
    }
    ,'IGPM_CODE':{
        'CODE':189,
        'ALIAS':'igpm_rate'
    }  
}

## Criação de tabela

In [5]:
df_sgs = sgs.dataframe([reports_to_save[x]['CODE'] for x in reports_to_save], start=start_date, end=end_date)
df_final = df_sgs.rename(columns = {reports_to_save[x]['CODE']:reports_to_save[x]['ALIAS'] for x in reports_to_save})

df_final.reset_index(inplace=True)
df_final = df_final.rename(columns = {'index':'reference_date'})

df_final['last_update'] = now
df_final.insert(0, 'last_update', df_final.pop('last_update'))

## Visualização

In [6]:
df_final

,last_update,reference_date,selic_rate,exchange_rate,ipca_rate,igpm_rate
0,2023-02-15 20:17:56.694479,2009-01-01,13.32,2.3066,5.84,-0.44
1,2023-02-15 20:17:56.694479,2009-02-01,12.66,2.3119,5.90,0.26
2,2023-02-15 20:17:56.694479,2009-03-01,11.70,2.3130,5.61,-0.74
3,2023-02-15 20:17:56.694479,2009-04-01,11.11,2.2051,5.53,-0.15
4,2023-02-15 20:17:56.694479,2009-05-01,10.16,2.0601,5.20,-0.07
...,...,...,...,...,...,...
165,2023-02-15 20:17:56.694479,2022-10-01,13.65,5.2497,6.47,-0.97
166,2023-02-15 20:17:56.694479,2022-11-01,13.65,5.2741,5.90,-0.56
167,2023-02-15 20:17:56.694479,2022-12-01,13.65,5.2418,5.79,0.45
168,2023-02-15 20:17:56.694479,2023-01-01,13.65,5.2001,5.77,0.21
169,2023-02-15 20:17:56.694479,2023-02-01,13.65,NaN,NaN,NaN

## Exportação para .xlsx

In [7]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
df_final.to_excel(excel_writer=r'/content/gdrive/MyDrive/variaveis_macro.xlsx', index=False)