## Imports

In [ ]:
pip install sgs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sgs
  Downloading sgs-2.1.1-py3-none-any.whl (9.8 kB)
Requirement already satisfied: beautifulsoup4>=4.7.1 in /usr/local/lib/python3.10/dist-packages (from sgs) (4.11.2)
Requirement already satisfied: html5lib>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from sgs) (1.1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from sgs) (1.5.3)
Collecting retrying>=1.3.3 (from sgs)
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.10/dist-packages (from sgs) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.7.1->sgs) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.0.1->sgs) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.0.1->sgs) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->sgs) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->sgs) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->sgs) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->sgs) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->sgs) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->sgs) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->sgs) (3.4)
Installing collected packages: retrying, sgs
Successfully installed retrying-1.3.4 sgs-2.1.1

In [ ]:
import pandas as pd
import sgs
from datetime import date, datetime

## Datas de referência

In [ ]:
today = date.today()
now = datetime.now()

start_date = '01/01/2009'
end_date = today.strftime("%d/%m/%Y")

## Definição de métricas

In [ ]:
''' ****************************************************************************************************************************************************************
SELIC_CODE = 4189 # Taxa de juros - Selic acumulada no mês anualizada base 252
EXCHANGE_CODE = 3697 # Taxa de câmbio - Livre - Dólar americano (compra) - Média de período - mensal
IPCA_CODE = 13522 # Índice nacional de preços ao consumidor - amplo (IPCA) - em 12 meses
IGPM_CODE = 189 # Índice geral de preços do mercado (IGP-M)
**************************************************************************************************************************************************************** '''

reports_to_save = {
    'SELIC_CODE':{
        'CODE':4189,
        'ALIAS':'selic_rate'
    }
    ,'EXCHANGE_CODE':{
        'CODE':3697,
        'ALIAS':'exchange_rate'
    }
    ,'IPCA_CODE':{
        'CODE':13522,
        'ALIAS':'ipca_rate'
    }
    ,'IGPM_CODE':{
        'CODE':189,
        'ALIAS':'igpm_rate'
    }
}

## Criação de tabela

In [ ]:
df_sgs = sgs.dataframe([reports_to_save[x]['CODE'] for x in reports_to_save], start=start_date, end=end_date)
df_export = df_sgs.rename(columns = {reports_to_save[x]['CODE']:reports_to_save[x]['ALIAS'] for x in reports_to_save})

df_export.reset_index(inplace=True)
df_export = df_export.rename(columns = {'index':'reference_date'})

df_export['last_update'] = now
df_export.insert(0, 'last_update', df_export.pop('last_update'))

## Visualização

In [ ]:
df_export

,last_update,reference_date,selic_rate,exchange_rate,ipca_rate,igpm_rate,unemployment_rate,income_commitment_rate,household_debt_rate,ibc_br,pf_delinquency_rate,pf_interest_rate,pj_delinquency_rate,pj_interest_rate
0,2023-05-22 12:43:20.831685,2009-01-01,13.32,2.3066,5.84,-0.44,NaN,20.89,27.26,121.36,NaN,NaN,NaN,NaN
1,2023-05-22 12:43:20.831685,2009-02-01,12.66,2.3119,5.90,0.26,NaN,20.99,27.26,122.31,NaN,NaN,NaN,NaN
2,2023-05-22 12:43:20.831685,2009-03-01,11.70,2.3130,5.61,-0.74,NaN,21.07,27.32,122.97,NaN,NaN,NaN,NaN
3,2023-05-22 12:43:20.831685,2009-04-01,11.11,2.2051,5.53,-0.15,NaN,21.15,27.49,123.60,NaN,NaN,NaN,NaN
4,2023-05-22 12:43:20.831685,2009-05-01,10.16,2.0601,5.20,-0.07,NaN,21.34,27.85,124.84,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,2023-05-22 12:43:20.831685,2023-01-01,13.65,5.2001,5.77,0.21,8.4,27.39,48.88,143.68,6.10,56.91,2.29,25.25
169,2023-05-22 12:43:20.831685,2023-02-01,13.65,5.1711,5.60,-0.06,8.6,27.42,48.60,147.31,6.12,58.31,2.37,24.09
170,2023-05-22 12:43:20.831685,2023-03-01,13.65,5.2109,4.65,0.05,8.8,NaN,NaN,147.09,6.17,58.26,2.45,24.11
171,2023-05-22 12:43:20.831685,2023-04-01,13.65,5.0191,4.18,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2023-05-22 12:43:20.831685,2023-05-01,13.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exportação para .xlsx

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df_export.to_excel(excel_writer=r'/content/gdrive/MyDrive/dados_sgs.xlsx', index=False)